<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>rpg tracker</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    
    <div id="app">

        <!-- confirm 
        <div class="confirm" v-if="confirmVisible">
            Want to {{ current == null ? 'start' : 'stop' }} ?
            <button v-on:click="conf(true)">yes</button>
            <button v-on:click="conf(false)">no</button>
        </div>
        -->
        
        <!-- search -->
        <div>
            <input type="text" placeholder="search" v-model="search">
        </div>

        <!-- dungeons listed -->

        <div>
            <ul>
                <li class="record" v-for="(el, index) in records.filter(el => el.name.indexOf(this.search) > -1)">
                    <div v-on:click="recordClick(index)" v-if="current == null || current.index == index">
                        <img class="recordimage" v-bind:src="el.image">
                        <div v-if="current == null">
                            <p class="bigtext">{{ el.name }} {{ '*'.repeat(el.tier) }}</p>
                            <p class="smalltext">counter: {{ el.counter }}</p>
                            <p class="smalltext">average time: {{ Math.round(el.times.reduce((a, b) => a + b, 0)/el.times.length/1000) }} s</p>
                            <p class="tinytext">{{ index }}.</p>
                        </div>
                        <div v-if="current != null">
                            <p class="bigtext">{{ el.name }} {{ '*'.repeat(el.tier) }}</p>
                            <p class="smalltext">click to stop counter</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <!-- tracker -->
        <div>
            <p v-if="current != null">
                Tracking {{ current.object.name }}
                <br />
                Start timestamp: {{ current.startTime.getHours() }}:{{ current.startTime.getMinutes() }}
            </p>
            <p v-if="current == null">
                Last recorded time: {{ lastTime }} ms
                <br />
                or {{ Math.round(lastTime/1000) }} s
                <br />
                or {{ Math.round(lastTime/1000/60) }} m
            </p>
        </div>

        <!-- stats -->
        <div class="stats">
            <p class="bigtext">Statistics so far</p>
            <p class="smalltext">
                *&nbsp&nbspdungeons completed: {{ records.filter(el => el.tier == 1).map(el => el.counter).reduce( (acc, el) => acc + el, 0 ) }}
            </p>
            <p class="smalltext">
                **&nbspdungeons completed: {{ records.filter(el => el.tier == 2).map(el => el.counter).reduce( (acc, el) => acc + el, 0 ) }}
            </p>
            <p class="smalltext">
                ***dungeons completed: {{ records.filter(el => el.tier == 3).map(el => el.counter).reduce( (acc, el) => acc + el, 0 ) }}
            </p>
        </div>

        <!-- controls -->
        <div>
            <button v-on:click="save">save</button>
            <button v-on:click="load">load</button>
            <button v-on:click="exp">export</button>
            <button v-on:click="reset" class="tinybutton">reset</button>
        </div>

        <div>
            <p v-if="exported != ''">copy this text somewhere</p>
            {{ exported }}
        </div>

    </div>

<script src="data.js"></script>
<script src="script.js"></script>
</body>
</html>
